@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Konkhmer+Sleokchher&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    font-size:2rem;
    font-family: 'Roboto', sans-serif;
}

.block{
    width: 30vw;
    height: 30vw;
    background-color: #000;
    color:#fff;
    padding:1rem;
}

.left {
    float: left;
    margin-right: 1rem;
}
.right {
    float: right;
    margin-left: 1rem;
}

.clear{
    clear: both;
}

section{
    background-color:bisque;
    border: 1px solid #333;
    padding: 1rem;
    display:flow-root;
}
