@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Konkhmer+Sleokchher&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    font-size:1.5rem;
    font-family: 'Roboto', sans-serif;
}

.columns{
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap:3rem;

}

.columns p {
    margin-top:0;
}

.columns h2 {
    margin-top: 0;
    background-color: #333;
    color:#fff;
    padding:1rem;
    break-inside: avoid;
    
}

.columns .quote{
    margin-top:2rem;
    column-span: all;
    font-size: 3rem;
    color:#333;
}

.nowrap{
    white-space: nowrap;
}