@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Konkhmer+Sleokchher&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    padding: 5% 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;

}
ol{
    list-style-type:lower-alpha;
    padding: 0;
}

ul{
    list-style-type: square;
    text-align: center;
    color:#00f;
    list-style-position: inside;
    line-height: 1.6;
    /*list-style: square url("../images/checkmark.png") inside;
    */
}
 ul li:nth-child(even){
    color:red;
 }

ul::marker{
    color:red;
    font-family: fantasy;
    font-size:1em;
    content: "Only $5 >> ";
}

